div {
	padding: 5px;
}

.header {
	background: #dda;
	border: 2px solid black;
}

.menu {
	padding: 0px;
	background: #ee8;
	border: 1px solid black;
	border-top: 0px;
	vertical-align: top;
	background: #ee8;
}

.content {
	fill: horizontal;
}

.footer {
	font-size: small;
	border: 1px solid #444;
	background: #ddd;
	float: right;
}