body,p,table,td,th,ul,li,dd,dt,dl,h1,h2,h3,h4,h5,h6,div,input {
	font-family: "Lucida Grande", "Bitstream Charter", Arial, Verdana;
        font-size: 13pt;
        font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
}

p,ul,li,dt,dd,dl,table,td,th,#breadcrumbs,div,input,textarea {
}

/* - - - - - - - - - - - - - - - - - - - - -
  layout related styling
 - - - - - - - - - - - - - - - - - - - - - */

html, body {
        margin:0;
        padding:0;
        height:100%;
}

#container {
        position: relative;
        min-height: 100%;
}

.footer {
        clear: both;
	position: absolute;
	right: 0%;
	bottom: 0%;
}

.header a img {
	border: 0px;
        float: left;
}

.header {
	background: black;
	padding: 0px;
}

.header, .header a div {
        height: 88px; /* configure:h2 */
        clear: right;
}

.header a, .header a:hover {
	color: black;
	text-decoration: none;
}

.header a div {
        margin-left: 189px; /* configure:w */
        background-image: url('../image/omiscid-title.jpg');
        background-repeat: no-repeat;
        background-position: left;
	font-size: 1.5em;
}

.layouttable {
        margin-left: -189px; /* configure:-w */
        padding-Top: 70px; /* configure:h3 - h2 */
        background-image: url('../image/menu.gif');
        background-repeat: repeat-x;
        background-position: top;
}

.content {
        margin-top: -40px; /* h2 - h3 + ...*/ 
}

.menu, .outline {
	padding: 5px;
	margin-left: 60px;
	border: 0px;
	vertical-align: top;
        text-align: left;
        min-width: 180px; /* configure:-w12 */
}

.menuitem, .currentmenuitem {
        line-height: 1.1;
}

.pagenameinoutline {
        font-size: 1.7em;
        margin-left: -30px;
        margin-bottom: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - -
  mainly color related styling
 - - - - - - - - - - - - - - - - - - - - - */

body {
        color: #4c4c4c;
        background: #fff;
}

a[href] {
        color: black;
}

a[href]:hover {
	color: #F77;
        text-decoration: underline;
}

h1, h2 {
        color: black;
}

.menu a {
        color: #7c7c7c;
}

.menu .currentmenuitem {
        color: black;
}

.menu, .menu a, .outline a {
	text-decoration: none;
}

.menu a, .currentmenuitem {
	font-weight: bold;
        font-size: 1.3em;
}

.menu {
        border: 0px;
        margin-bottom: 10px;
}

.outline h1 {
	font-size: small;
	margin: 0px;
}

.outline h2 {
	font-size: x-small;
	margin: 0px;
	margin-left: 10px;
}

.content {
	padding: 10px;
	margin-left: 10px;
}

.footer {
	font-size: small;
	background: black;
        color: #CDF;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
}

.content h1 {
        font-size: 1.5em;
        line-height: 0.5;
}

.content h2 {
        font-size: 1.25em;
	border-bottom: 1px solid;
        border-bottom-color: #CCC;
        margin-top: -5px;
        margin-bottom: -10px;
}
.content h1 + h2 {
        margin-top: 0px;
}

.content p {
	margin-left: 15px;
        text-align: justify;
}


/* - - - - - - - - - - - - - - - - - - - - -
  page specific styling
 - - - - - - - - - - - - - - - - - - - - - */

.whyOmiscid b,.whyOmiscidStrong b {
	text-decoration: underline;
        color: black;
}

pre.licence {
        border: 1px solid #777;
        padding: 10px;
        font-weight: normal;
}

code {
        font-weight: normal;
        color: black;
}
