
/* Styling the slides */
html, body {
  padding: 0px;
  margin: 0px;
  background: black;
  color: white;
}

h1, h2, h3, h4 {font-size: 1em; margin: 0; padding: 0; font-weight: inherit;}

a:link, a:visited {
  color: #FF8;
}

.slide h1 {
  margin: 0;
  padding: .3em 0 0.15em .4em;
  /*white-space: nowrap;*/
  /*font: bold 150%/1em Helvetica, sans-serif;*/
  /*text-transform: capitalize;*/
}

.slide h4 {
  font-size: 130%;
}

.currentSlide h3 {
  background: black;
  color: #FFA;
  border-bottom: .04em solid #FFE;
}

.singleView .currentSlide h3 {
  background: transparent;
}

h1 {
       font-size: 160%;
       text-align: center;
       margin-top: 2.5em;
       margin-bottom: 2em;
       color: white;
}
h2 {
       text-align: center;
       margin-top: 1em;
       color: #FFC;
}

.slide ul ul ul>li {
  color: white;
}
.slide ul ul>li {
  color: #DDF;
}

object, img {
  margin-left: 3%;
  margin-top: .1em;
}

pre {
  border: 1px solid #AA7;
}

/*
div#headerbg {z-index:5; position:absolute; left:0px; top:0px; width:100%;}
div#headerbg img {z-index:5; width:100%; height:3em;}
*/
div#headerbg {visibility: hidden;}

object, img {
/*   background: white;
*/
}
.foregroundColor .preventForegroundColor *, .foregroundColor .preventForegroundColor {
  fill: black !important;
}
.foregroundColor *, .foregroundColor {
  fill: white !important;
  stroke: white !important;
}

/* Styling the title pages */
.title {
       background: black;
}
.title .slideCounter {
       visibility: hidden;
}


/* Styling the slide counter (e.g. 3/12) */
.slideCounter {
  font-size: 0.45em;
  position: absolute;
  width: auto;
  right:  10%;
  bottom: 0%;
  top: auto;
  text-align: right;
  vertical-align: bottom;
}

/* Style the manager */
.multiView .currentSlide {
  border: 1px solid yellow;
}
td>.notes {
  font-size: 1.2em;
  border: 1px solid gray;
  padding: .3em;
}
.nextSlide {
  border: 1px solid white;
}


/* positioning main view */
.singleView .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
}

/* slide lists format */

.slide ul {list-style: disc;}
.slide ul ul {list-style: square;}
.slide ul ul {line-height: .85em;}
.slide ul {
  margin-left: .7em;
  margin-right: .5em;
  padding-left: .5em;
}
.slide ul ul {
  margin-left: .5em;
  margin-right: .5em;
  padding-left: .5em;
}

.slide li {
  margin-top: 0.75em;
  margin-right: 0;
  padding-left: .1em;
}
.slide ul ul li {
  margin: .2em;
  font-size: .85em;
}

/* To display notes only where it should */
.notes .notes {
        visibility: visible;
}
.slide .notes {
        visibility: hidden;
}

/* To allow home made "interactive SVG" */
.hiddenHoverShow {opacity:0.02;}
.hiddenHoverShow:hover {opacity:1;}


/* To have controls appearing only when hovered */
.autocontrols {
  position: absolute;
  width: auto;
  left:  50%;
  bottom: 0%;
  top: auto;
  text-align: right;
  vertical-align: bottom;
  border: 2px solid black;
  background: #DDF;
}
.autocontrols, .autocontrols * {
  visibility: hidden;
}
.autocontrols:hover, .autocontrols:hover *, .autocontrols *:hover {
  visibility: visible;
}

